<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Setlist Home</title>
    <!-- Include CSS files -->
</head>
<body>
    <h1>Welcome to the  Setlist Website</h1>
    <p>This is the homepage accessible to all users.</p>
    <p>
        <a th:href="@{/register}">Register</a> or
        <a th:href="@{/login}">Login</a>
    </p>

    <h2>Search</h2>
    <form th:action="@{/search}" method="get">
        <input type="text" name="query" placeholder="Search for artists, shows, setlists" required />
        <button type="submit">Search</button>
    </form>
</body>
</html>