<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">
<head>
    <title>Add Artist</title>
</head>
<body>
    <h1>Add New Artist</h1>
    <form th:action="@{/artists/add}" th:object="${artist}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        
        <div>
            <label>Name:</label>
            <input type="text" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label>Description:</label>
            <textarea th:field="*{description}"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>
        <div>
            <label>Image:</label>
            <input type="file" th:field="*{imageFile}" />
            <span th:if="${#fields.hasErrors('imageFile')}" th:errors="*{imageFile}"></span>
        </div>
        <div>
            <button type="submit">Add Artist</button>
        </div>
    </form>
</body>
</html>