<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${artist.name}">Artist Detail</title>
    <link rel="stylesheet" href="/css/artist_detail.css">
</head>
<body>
    <div class="artist-background">
        <div class="artist-background-blur" 
            th:style="'background-image: url(/uploads/artists/' + ${artist.imageFilename} + ');'">
        </div>
        <nav class="navbar">
            <div class="logo">
                <p>Setlist.fm</p>
            </div>
            <div class="menu">
                <a th:href="@{/}" class="active">Home</a>
                <a th:href="@{/artists}">Artists</a>
                <a href="#">Profile</a>
            </div>
            <div class="auth-links">
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" class="btn">Logout</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="btn">Login</a>
                    <a th:href="@{/register}" class="btn">Register</a>
                </div>
            </div>
        </nav>
        <div class="artist-container">
            <img th:src="@{'/uploads/artists/' + ${artist.imageFilename}}" alt="Artist Image" class="artist-image">
            <div class="artist-name">
                <h1 th:text="${artist.name}"></h1>
            </div>
        </div>
    </div>
    
    <div class="artist-details-wrapper">
        <!-- Artist Details Container
        <div class="artist-details"> -->
        <div class="left-container">
            <h2>Shows</h2>
            <ul>
                <li th:each="show : ${artist.shows}">
                    <a th:href="@{/shows/{id}(id=${show.id})}" th:text="${show.date} + ' - ' + ${show.venue}"></a>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()" class="authenticated-section">
                <a th:href="@{/shows/add(artistId=${artist.id})}">Add New Show</a>
            </div>
        </div>
        <div class="right-container">
            <h2>Description</h2>
            <p th:text="${artist.description}"></p>
        </div>
    </div>
</body>
</html>
