<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Show</title>
    <link rel="stylesheet" href="/css/show_add.css">
    <!-- Include CSS files -->
</head>
<body>
    <div class="artist-background">
        <div class="artist-background-blur" 
            th:style="'background-image: url(/uploads/artists/' + ${show.artist.imageFilename} + ');'">
        </div>
        <nav class="navbar">
            <div class="logo">
                <p>Setlist.fm</p>
            </div>
            <div class="menu">
                <a th:href="@{/}" class="active">Home</a>
                <a th:href="@{/artists}">Artists</a>
                <a th:href="@{/aboutus}">About Us</a>
            </div>
            <div class="auth-links">
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" class="btn">Logout</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="btn">Login</a>
                    <a th:href="@{/register}" class="btn">Register</a>
                </div>
            </div>
        </nav>
        <div class="artist-container">
            <img th:src="@{'/uploads/artists/' + ${show.artist.imageFilename}}" alt="Artist Image" class="artist-image">
            <div class="artist-name">
                <h1 th:text="${show.artist.name}"></h1>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="add-show-form">
            <h1 class="form-title">Add New Show for <span class="artist-name" th:text="${show.artist.name}"></span></h1>
            <form class="show-form" th:action="@{'/shows/add?artistId=' + ${show.artist.id}}" th:object="${show}" method="post">
                <!-- CSRF Token -->
                <input type="hidden" class="csrf-token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    
                <!-- Hidden field for artist -->
                <input type="hidden" class="artist-id" th:field="*{artist.id}" />
    
                <div class="form-group">
                    <label class="form-label">Date:</label>
                    <input type="date" class="form-input date-input" th:field="*{date}" />
                    <span class="error-message" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Venue:</label>
                    <input type="text" class="form-input venue-input" th:field="*{venue}" />
                    <span class="error-message" th:if="${#fields.hasErrors('venue')}" th:errors="*{venue}"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">City:</label>
                    <input type="text" class="form-input city-input" th:field="*{city}" />
                    <span class="error-message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Country:</label>
                    <input type="text" class="form-input country-input" th:field="*{country}" />
                    <span class="error-message" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
                </div>
                <div class="form-actions">
                    <button type="submit" class="submit-button">Add Show</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>